<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssr.base.mapper.system.PrvRoleMapper" >
  <resultMap id="BaseResultMap" type="com.ssr.base.model.system.PrvRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="CHAR" />
  </resultMap>
  <select id="selectRoleByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT id,name,description,create_time,create_user_id,state FROM PRV_ROLE
    <where>
      <if test="name!=null and name!=''">
        name like CONCAT('%',#{name},'%')
      </if>
    </where>
    <if test="sort!=null and sort!=''">
        ORDER BY ${sort} ${order}
    </if>
  </select>
</mapper>