<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssr.console.mapper.dynamic.DynamicColumnManageMapper" >
  <resultMap id="BaseResultMap" type="com.ssr.console.model.dynamic.DynamicColumnManage" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="column_name" property="columnName" jdbcType="VARCHAR" />
    <result column="type_for_mysql" property="typeForMysql" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="INTEGER" />
    <result column="decimal_point" property="decimalPoint" jdbcType="INTEGER" />
    <result column="enum_value" property="enumValue" jdbcType="VARCHAR" />
    <result column="nullable" property="nullable" jdbcType="BIT" />
    <result column="is_primary_key" property="isPrimaryKey" jdbcType="BIT" />
    <result column="is_autoincrement" property="isAutoincrement" jdbcType="BIT" />
    <result column="insert_default_value" property="insertDefaultValue" jdbcType="VARCHAR" />
    <result column="is_query_condition" property="isQueryCondition" jdbcType="BIT" />
    <result column="query_condition_symbol" property="queryConditionSymbol" jdbcType="VARCHAR" />
    <result column="query_default_value" property="queryDefaultValue" jdbcType="VARCHAR" />
    <result column="is_allow_update" property="isAllowUpdate" jdbcType="BIT" />
    <result column="is_list_display" property="isListDisplay" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_system_field" property="isSystemField" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
  </resultMap>
   <select id="selectDynamicColumnManageByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT t.id,t.table_id,t.column_name,t.type_for_mysql,t.length,t.decimal_point,t.enum_value,t.nullable,
    	t.is_primary_key,t.is_autoincrement,
    	t.insert_default_value,t.is_query_condition,t.query_condition_symbol,t.query_default_value,t.is_allow_update,t.is_list_display,
    	t.is_system_field,t.remark,t.create_time,t.create_user_id,t.update_time,t.update_user_id,
     	u1.name AS createUserName,
    	u2.name AS updateUserName
     FROM DYNAMIC_COLUMN_MANAGE t
     	LEFT JOIN PRV_USER u1 on u1.id = t.create_user_id
    	LEFT JOIN PRV_USER u2 on u2.id = t.update_user_id
    <where>
        t.table_id = #{tableId}
      <if test="columnName!=null and columnName!=''">
        and t.column_name = #{columnName}
      </if>
    </where>
    	ORDER BY t.id ASC
  </select>
</mapper>